venv/
.venv/
report/
__pycache__/
*.pyc



.DS_Store
.idea/
*.iml
*.log
*.bak
*.tmp
*.swp

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore report files
report
reports**/**
# Generated scan reports contain personal photo URLs and paths
report*/
